{% include multilingual.html %}
{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">
  <h1>Download PDF</h1>
  <button name="button" onclick="opensdg.createPdf()">Click me</button>
</div>

{%- for goalreport in site.data.reporting.goals -%}
  {%- assign goal_number = goalreport.goal -%} <!--7-->
  {%- assign goal_short_key = goal_number | append: '-short' -%} <!--7-short-->
  {%- assign goal_short = t.global_goals[goal_short_key] -%}
  <h3>{{ goal_short }}</h3>
{%- endfor -%}

{% include footer.html %}
