{% include multilingual.html %}
{% include head.html %}
{% include header.html %}

<script>
  var doc = new jsPDF('p', 'mm', 'letter');
</script>

<script>
  function addContent(indicatorClass){
    var inclass = indicatorClass;
    html2canvas(document.querySelector(inclass), { allowTaint: true }).then(canvas => {//document.body.appendChild(canvas)});
    var image = canvas.toDataURL("image/png", 1.0);
    doc.addPage( 210, 297);
    doc.addImage(image, 'JPG', 15, 15, 180, 60);
  });
  }
</script>


<div id="app">
  <div id="capture" v-bind:style="{backgroundColor:color}" class="w-1/2 bg-red rounded text-center py-8 text-white">
      <h4>Text here</h4>
  </div>
  <input type="text" v-model="message">
  <input type="color" v-model="color">
  <button class="bg-black px-4 py-2 text-white rounded-full" @click="saveCanvas()">Save Canvas</button>
</div>

<div class="indicator_1-1-ab">
  <div class="heading indicator goal-1">
    <div class="container">
      <div class="row">
        <div class="col-xs-4 col-md-3 col-lg-2">
          <img src="{{ site.goal_image_base }}/de/1.png" alt="Keine Armut - Ziel 1" title="Keine Armut" />
        </div>
        <div class="col-xs-8 col-md-9 col-lg-10">
          <h1 class="titles goal-1" title="Bereich: Armut">
            Armut: – <i title="Postulat: Armut begrenzen">Armut begrenzen</i>
          </h1>
          <h2 class="titles goal-1">Indikator 1.1.a, b: Materielle Deprivation sowie erhebliche materielle Deprivation</h2>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h4>Definition</h4>
    <p>Materielle Deprivation beschreibt den Mangel an bestimmten Gebrauchsgütern und den unfreiwilligen Verzicht auf ausgewählten Konsum aus finanziellen Gründen. Beide Indikatoren geben den Anteil der Personen an der Gesamtbevölkerung an, die als materiell depriviert (1.1.a) bzw. als erheblich materiell depriviert (1.1.b) gelten. Die (erhebliche) materielle Entbehrung trifft für alle Menschen zu, deren Haushalt von neun vorgegebenen Kriterien, welche die finanziellen Einschränkungen des Haushalts widerspiegeln, mindestens drei (erheblich materiell depriviert: mindestens vier) erfüllt.</p>
  </div>
</div>

<script>
  //addContent(".indicator_1-1-ab");
  addContent("#capture");
</script>

<!-- <div id="main-content" class="container">
  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal -%}
    {%- assign goal_short_key = goal_number | append: '-short' -%}
    {%- assign goal_short = t.global_goals[goal_short_key] -%}
    {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | sort: 'indicator_sort_order' | group_by: 'target_id' %}
    {% for group in goal_indicators %}
      {% for indicator in group.items %}
        <div class="indicator_{{ indicator.indicator_sort_order }}">
          <div class="heading indicator goal-{{ goal_number }}">
            <div class="container">
              <div class="row">
                <div class="col-xs-4 col-md-3 col-lg-2">
                  <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" title="{{ goalShort }}" />
                </div>
                <div class="col-xs-8 col-md-9 col-lg-10">
                  <h1 class="titles goal-{{goal_number}}" title="{{ t.general.section }}: {{ indicator.section }}">
                    {{ indicator.section }} – <i title="{{ t.general.postulate}}: {{ indicator.postulate }}">{{ indicator.postulate }}</i>
                  </h1>
                  <h2 class="titles goal-{{goal_number}}">{{ t.general.indicator }} {{ indicator.indicator_display }}: {{ indicator.indicator | get_indicator_name }}</h2>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h4>Definition</h4>
            <p>{{ indicator.dns_indicator_definition }}</p>
          </div>
        </div>
        <script>
          addContent("indicator_{{ indicator.indicator_sort_order }}");
        </script>
      {% endfor %}
    {% endfor %}
  {%- endfor -%}
</div> -->


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="{{ site.baseurl }}/assets/js/html2canvas.min.js"></script>



<script>
  var app = new Vue({
    el: '#app',
    data: {
      message: 'ssuus',
      color: 'orange'
    },
    methods: {
      saveCanvas(){
          html2canvas(document.querySelector("#capture"), { allowTaint: true }).then(canvas => {//document.body.appendChild(canvas)});
          // var image = canvas.toDataURL("image/png").replace("image/png","image/octet-stream");
          var image = canvas.toDataURL("image/png", 1.0);
          //console.log("Image: ",image);
          //doc.addPage( 210, 297);
          //doc.addImage(image, 'JPG', 15, 15, 210, 20);
          // window.location.href=image;
          doc.save('Test.pdf');
        });
      }
    }
  })
</script>




{% include footer.html %}
