{% include multilingual.html %}
{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">
  <h1>Download PDF</h1>
  <button name="button" onclick="opensdg.createPdf()">Click me</button>
</div>
<div id="pdf_content" class="container reportingstatus">
  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal -%} <!--7-->
    {%- assign goal_short_key = goal_number | append: '-short' -%} <!--7-short-->
    {%- assign goal_short = t.global_goals[goal_short_key] -%}
    {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | sort: 'indicator_sort_order' | group_by: 'target_id' %}
    {% for group in goal_indicators %}
      {% for indicator in group.items %}
        <h3>{{ goal_short }}</h3>
        <!-- <div class="heading indicator goal-{{ goal_number }}">
          <div class="container">
            <div class="row">
              <div class="col-xs-4 col-md-3 col-lg-2">
                <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" title="{{ goalShort }}" />
              </div>
              <div class="col-xs-8 col-md-9 col-lg-10">
                <h1 class="titles goal-{{goal_number}}" title="{{ t.general.section }}: {{ indicator.section }}">
                  {{ meta.section }} – <i title="{{ t.general.postulate}}: {{ indicator.postulate }}">{{ indicator.postulate }}</i>
                </h1>

                <h2 class="titles goal-{{goal_number}}">{{ t.general.indicator }} {{ indicator.indicator_display }}: {{ indicator.indicator | get_indicator_name }}</h2>
              </div>
            </div>
          </div>
        </div> -->
      {% endfor %}
    {% endfor %}
  {%- endfor -%}


</div>

{% include footer.html %}
