{% include multilingual.html %}
{% include head.html %}
{% include header.html %}

<div id="main-content" class="container reportingstatus">

  <h1>{{ t.summary.status_summary }}</h1>

  {%- for goalreport in site.data.reporting.goals -%}
    {%- assign goal_number = goalreport.goal -%} <!--7-->
    {%- assign goal_short_key = goal_number | append: '-short' -%} <!--7-short-->
    {%- assign goal_short = t.global_goals[goal_short_key] -%} <!--Bezahlbare und saubere Energie-->
    <div class="goal">
      <div class="frameStatus">
        <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/">
          <img src="{{ site.goal_image_base }}/{{ current_language }}/{{ goal_number }}.png" alt="{{ goal_short }} - {{ t.general.goal }} {{ goal_number }}" width="95%" min-height="60px"/>
        </a>
      </div>
      <div>
        <h3 class="status-goal">
          <a href="{{ site.baseurl }}{{ baseurl_folder }}/{{ goal_number }}/"><span class="visible-xs">{{ t.summary.goal }} {{ goal_number}} - <span>{{ goal_short }}</a>
        </h3>
        {% assign goal_indicators = site.data.meta | where: 'sdg_goal', goal_number | sort: 'indicator_sort_order' | group_by: 'target_id' %}
        {% for group in goal_indicators %}
          {% for indicator in group.items %}
            {% for single_indicator in (1..3) %}

              {% assign weather_active_key = "weather_active_" | append: single_indicator %} <!--weather_active_2-->
              {% assign single_indicator_key = "indicator_" | append: single_indicator %}  <!--indicator_2-->
              {% assign idc_sort_order = indicator["indicator_sort_order"] %} <!--7-1-ab-->
              {% assign letters = "i,h,g,f,e,d,c,b,a" | split: ',' %}
              {% assign additional_cells = letters.size %}
              {% if indicator[weather_active_key] == true %}

                {% assign indicator_key = idc_sort_order | append: "_" | append: single_indicator %} <!--7-1-ab_2-->

                <!--Check for multiple targets-->
                {% assign target_key = single_indicator_key | append: "_target" %}  <!--indicator_2_target-->
                {% assign target_year_key = target_key | append: "_year" %} <!--indicator_2_target_year-->

                {% if indicator[target_key] %}
                  {% assign target_trans = 'single_target' %}
                {% else %}
                  {% assign target_trans = 'multi_target' %}
                {% endif %}

                <table class="table table-hover tableresp">

                  <!-- INDICATOR !!!!!!!!!!!!!!!!-->
                  <tr>
                    <th width="10%"> <div class=responsiveText>{{ t.status.indicator }} </div> </th>
                    <th colspan="9"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/{{ idc_sort_order }}/ "><div class=responsiveText>{{ indicator[single_indicator_key] }}</div></a> </th>
                  </tr>
                  <!-- !!!!!!!!!!!!!!!!-->

                  {% if target_trans == 'single_target' %}

                    <!--Check for old targets-->
                    {% assign old_target_key = target_key | append: '_old' %} <!--indicator_1_target_old-->
                    {% if indicator[old_target_key] %}
                      {% assign cases = '_old,_new' | split: ',' %}
                    {% else %}
                      {% assign cases = '-' | split: ',' %}
                    {% endif %}

                    {% for case in cases %}
                      {% assign target_trans = 'single_target' | append: case | replace: '-','' %} <!--single_target_old-->
                      {% assign target_key = single_indicator_key | append: '_target' | append: case | replace: '-','' %} <!--indicator_1_target_old-->
                      <!-- TARGET !!!!!!!!!!!!!!!!-->
                      <tr>
                        <th> <div class=responsiveText>{{ t.status[target_trans] }}</div></th>
                        <td colspan="9"> <div class=responsiveText>{{ indicator[target_key] }}</div> </td>
                      </tr>
                      <!-- !!!!!!!!!!!!!!!!-->
                      <!-- YEAR !!!!!!!!!!!!!!!!-->
                      <tr>
                        <th> <div class=responsiveText>{{ t.general.year }}</div> </th>
                        {% for letter in letters %}
                          {% assign year_key = single_indicator_key | append: '_target' | append: case | replace: '-','' | append:'_year_' | append: letter %}
                          {{year_key}}
                          {% if indicator[year_key] %}
                            {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                              <td width="10%" align="center" class="hidden-xs"> <p><span class="responsiveText hidden-xs">{{ indicator[year_key] }}</span></p> </td>
                            {% else %}
                              <td width="10%" align="center"> <p><span class="responsiveText">{{ indicator[year_key] }}</span></p> </td>
                            {% endif %}

                            {% assign additional_cells = additional_cells | minus: 1 %}
                          {% endif %}
                        {% endfor %}
                        {% if additional_cells == letters.size %}
                          {% assign add = add | minus: 1 %}
                        {% endif %}

                        <!--add empty cells-->
                        {% for empty_cell in (1..additional_cells) %}
                          {% if empty_cell > 5 %}
                            <td width="10%" align="center"> </td>
                          {% else %}
                            <td width="10%" align="center" class="hidden-xs"> </td>
                          {% endif %}
                        {% endfor %}
                      </tr>
                      <!-- !!!!!!!!!!!!!!!!-->
                      <!-- ITEM !!!!!!!!!!!!!!!!-->
                      <tr>
                        <th> <div class=responsiveText>{{ t.general.status }}</div> </th>
                        {% for letter in letters %}
                          {% assign item_key = single_indicator_key | append: '_target' | append: case | replace: '-','' | append:'_item_' | append: letter %}
                          {% if indicator[item_key] %}

                            {% if indicator[item_key] == 'Sonne' %}
                              {% assign status = t.weather['sonne'] %}
                            {% elsif indicator[item_key] == 'Leicht bewölkt' %}
                              {% assign status = t.weather['leicht bewölkt'] %}
                            {% elsif indicator[item_key] == 'Wolke' %}
                              {% assign status = t.weather['wolke'] %}
                            {% elsif indicator[item_key] == 'Blitz' %}
                              {% assign status = t.weather['blitz'] %}
                            {% endif %}

                            {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                              <td width="10%" align="center" class="hidden-xs"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ status }}" class="responsiveWeather hidden-xs" title="{{ status }}"/></a> </td>
                            {% else %}
                              <td width="10%" align="center"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ indicator[item_key] }}" class="responsiveWeather" title="{{ status }}"/></a> </td>
                            {% endif %}
                          {% elsif j == 'a' %}
                              <td width="10%" align="center"><p><span class="responsiveText">{{ t.status.no_assessment }}</span></p></td>
                          {% endif %}
                        {% endfor %}

                        <!--add empty cells-->
                        {% for empty_cell in (1..additional_cells) %}
                          {% if empty_cell > 5 %}
                            <td width="10%" align="center"></td>
                          {% else %}
                            <td width="10%" align="center"class="hidden-xs"></td>
                          {% endif %}
                        {% endfor %}
                      </tr>
                      <!-- !!!!!!!!!!!!!!!!-->
                    {% endfor %} <!--for case in cases-->
                  <!------------------------------------------------------------------------------------------------------->
                  {% elsif target_trans == 'multi_target' %}
                    {% for multi_target in (1..3) %}
                      {% assign target_key = single_indicator_key | append: "_target_" | append: multi_target %}  <!--indicator_2_target-->
                      {% assign previous_mult_target = multi_target | minus: 1 %}
                      {% assign previous_target_year_key = single_indicator_key | append: '_target_' | append: previous_mult_target | append: '_year' %} <!--indicator_2_target_1_year-->

                      {% assign target_trans = 'multi_target' | append: '_' | append: multi_target %} <!--multi_target_3-->

                      <!--Check for old targets-->
                      {% assign old_target_key = target_key | append: '_old' %} <!--indicator_2_target_3_old-->
                      {% if indicator[old_target_key] %}
                        {% assign cases = '_old,_new' | split: ',' %}
                      {% else %}
                        {% assign cases = '-' | split: ',' %}
                      {% endif %}

                      {% for case in cases %}
                        {% assign target_trans = 'multi_target_' | append: multi_target | append: case  | replace: '-','' %} <!--multi_target_3_old-->
                        {% assign target_key = single_indicator_key | append: '_target_' | append: multi_target | append: case  | replace: '-',''%} <!--indicator_2_target_3_old-->
                        <!-- TARGET !!!!!!!!!!!!!!!!-->
                        {% if case == '_old' %}<tr  style="opacity: 0.2">{% else %}<tr>{% endif %}
                          <th> <div class=responsiveText>{{ t.status[target_trans] }}</div></th>
                          <td colspan="9"> <div class=responsiveText>{{ indicator[target_key] }}{{previous_target_year_key}}</div> </td>
                        </tr>
                        <!-- !!!!!!!!!!!!!!!!-->
                        <!-- YEAR !!!!!!!!!!!!!!!!-->
                        <tr>
                          <th> <div class=responsiveText>{{ t.general.year }}</div> </th>
                          {% for letter in letters %}
                            {% assign year_key = single_indicator_key | append: "_target_" | append: multi_target | append: case  | replace: '-','' | append:'_year_' | append: letter %}
                            {% if indicator[year_key] %}
                              <!--check if year is valid or not-->
                              {% if (multi_target > 1 and indicator[year_key] < indicator[previous_target_year_key]) %}
                                {% assign opacity = ' style="opacity: 0.2"' %}
                              {% else %}
                                {% assign opacity = '' %}
                              {% endif %}

                              {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                                <td width="10%" align="center" class="hidden-xs"> <p {{ opacity }}><span class="responsiveText hidden-xs">{{ indicator[year_key] }}</span></p> </td>
                              {% else %}
                                <td width="10%" align="center"> <p {{ opacity }}><span class="responsiveText">{{ indicator[year_key] }}</span></p> </td>
                              {% endif %}

                              {% assign additional_cells = additional_cells | minus: 1 %}
                            {% endif %}
                          {% endfor %}
                          {% if additional_cells == letters.size %}
                            {% assign add = add | minus: 1 %}
                          {% endif %}

                          <!--add empty cells-->
                          {% for empty_cell in (1..additional_cells) %}
                            {% if empty_cell > 5 %}
                              <td width="10%" align="center"> </td>
                            {% else %}
                              <td width="10%" align="center" class="hidden-xs"> </td>
                            {% endif %}
                          {% endfor %}
                        </tr>
                        <!-- !!!!!!!!!!!!!!!!-->
                        <!-- ITEM !!!!!!!!!!!!!!!!-->
                        <tr>
                          <th> <div class=responsiveText>{{ t.general.status }}</div> </th>
                          {% for letter in letters %}
                            {% assign item_key = single_indicator_key | append: "_target_" | append: multi_target | append: case  | replace: '-','' | append:'_item_' | append: letter %}
                            {% assign year_key = single_indicator_key | append: "_target_" | append: multi_target | append: case  | replace: '-','' | append:'_year_' | append: letter %}
                            {% if indicator[item_key] %}

                              {% if indicator[item_key] == 'Sonne' %}
                                {% assign status = t.weather['sonne'] %}
                              {% elsif indicator[item_key] == 'Leicht bewölkt' %}
                                {% assign status = t.weather['leicht bewölkt'] %}
                              {% elsif indicator[item_key] == 'Wolke' %}
                                {% assign status = t.weather['wolke'] %}
                              {% elsif indicator[item_key] == 'Blitz' %}
                                {% assign status = t.weather['blitz'] %}
                              {% endif %}

                              <!--check if year is valid or not-->
                              {% if (multi_target > 1 and indicator[year_key] < indicator[previous_target_year_key]) %}
                                {% assign opacity = ' style="opacity: 0.2"' %}
                              {% else %}
                                {% assign opacity = '' %}
                              {% endif %}

                              {% if letter == 'i' or letter == 'h' or letter == 'g' or letter == 'f' or letter == 'e' %}
                                <td width="10%" align="center" class="hidden-xs"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ status }}" class="responsiveWeather hidden-xs" title="{{ status }}" {{ opacity }}/></a> </td>
                              {% else %}
                                <td width="10%" align="center"> <a href=" {{ site.baseurl }}{{ baseurl_folder }}/status/ "><img src="https://g205sdgs.github.io/sdg-indicators/public/Wettersymbole/{{ current_language }}/{{ indicator[item_key] }}.png" alt="{{ indicator[item_key] }}" class="responsiveWeather" title="{{ status }}" {{ opacity }}/></a> </td>
                              {% endif %}
                            {% elsif j == 'a' %}
                                <td width="10%" align="center"><p><span class="responsiveText">{{ t.status.no_assessment }}</span></p></td>
                            {% endif %}
                          {% endfor %}

                          <!--add empty cells-->
                          {% for empty_cell in (1..additional_cells) %}
                            {% if empty_cell > 5 %}
                              <td width="10%" align="center"></td>
                            {% else %}
                              <td width="10%" align="center"class="hidden-xs"></td>
                            {% endif %}
                          {% endfor %}
                        </tr>
                        <!-- !!!!!!!!!!!!!!!!-->
                      {% endfor %} <!--case-->
                    {% endfor %} <!--multi_target-->
                  {% endif %} <!-- target_trans == 'single_target' -->
                </table>
              {% endif %} <!--if indicator[weather_active_key] == true-->
            {% endfor %}  <!--for single_indicator in (1..3)-->
          {% endfor %}  <!--for indicator in group.items-->
        {% endfor %}  <!--for group in goal_indicators-->
        <div class="divider">
        </div>
      </div>
      <!--</li>-->
      <br style="clear:both;">
    </div> <!--class="goal"-->
  {%- endfor -%} <!--for goalreport in site.data.reporting.goals-->
</div>
{% include footer.html %}
